* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #1b1b1b;
  color: #e1e1e1;
}

.app {
  padding: 50px;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box input {
  margin: 10px;
  max-width: 300px;
  padding: 10px 40px;
  border-radius: 10px;
  border: none;
  width: 100%;
}

.box input:focus {
  outline: none;
}

.box input:hover {
}

/* .box button {
  margin: 10px;
  padding: 10px 40px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  background-color: #f77225;
  font-weight: 700;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #fff;
  appearance: none;
  outline: none;
} */

.box button {
  color: #fff;
  padding: 3px;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  border: none;
  margin-top: 15px;
}

.box button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: linear-gradient(
    115deg,
    #4fcf70,
    #fad648,
    #a767e5,
    #12bcfe,
    #44ce7b
  );
  background-size: 50% 100%;
  border-radius: inherit;
}

.box button:hover::before {
  animation: animate_border 0.75s linear infinite;
}

.box button span {
  display: block;
  background-color: #1b1b1b;
  padding: 15px 40px;
  position: relative;
  z-index: 2;
  font-size: 16px;
}

@keyframes animate_border {
  to {
    transform: translateX(-50%);
  }
}

img {
  display: block;
  width: 100%;
  max-width: 480px;
  margin: 30px auto;
}

a {
  display: block;
  text-decoration: none;
  color: #f77225;
  font-size: 16px;
  font-weight: 500;
}

.icons {
  display: flex;
  justify-content: center;
}

.icon {
  padding: 10px;
  font-size: 25px;
  color: #fff;
  margin-top: 10px;
}
